@import "../../variables";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: auto;
  border: 1px solid $third-color;
  border-radius: 5px;
}

.Number {
  width: 40px;
  background: $secondary-color;
}

.Reset {
  grid-column: 1/4;
  width: 100%;
  background-color: $third-color;
}

.Result {
  grid-row: 5/6;
  grid-column: 3/5;
  width: 100%;
  background-color: $third-color;
}
