@import "../../variables";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $third-color;
  border-radius: 5px;
  margin: auto;
  background: $secondary-color;
}
