@mixin drum($theme: DarkGray) {
  width: 6vw;
  height: 6vw;
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: #fff;
  border: 2px solid rgb(192, 98, 98);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  @include drum;
}

.active {
  @include drum($theme: rgb(0, 144, 163));
}
