@import "variables";

.App {
  color: black;
  text-align: center;
  background-color: #fff;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.App-main {
  height: 90vh;
  margin: auto;
}

.Calculator {
  width: 220px;
  padding: 20px;
  margin: auto;
  background-color: $main-color;
  border-radius: 5px;
}

.Display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 80px;
  overflow-x: scroll;
  background-color: $third-color;
  border-radius: 5px;

  p {
    padding-right: 20px;
  }
}
