@import "variables";

.App {
  color: black;
  text-align: center;
}

.app-main {
  height: 100vh;
  font-size: calc(10px + 1.5vmin);
}

.wrapper {
  height: 60vh;
  background-color: $main-color;
  border-radius: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.minw-200 {
  min-width: 200px;
}

.m-auto {
  margin: auto;
}

.m-5 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.t-cent {
  text-align: center;
}

.br-5 {
  border-radius: 5px;
}

.p-10 {
  padding: 10px;
}

.bg-c-1 {
  background-color: $secondary-color;
}

.bg-c-2 {
  background-color: $third-color;
}
