@import "variables";

.App {
  color: $black;
  text-align: center;
  background-color: #fff;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.App-main {
  height: 90vh;
  padding-top: 10vh;
}
